/* Prefix
--------------------------------------------- */
$prefix: "mht-";

@import "colors";
@import "images";
@import "widths";
@import "spacing";
@import "gutters";
@import "breakpoints";
@import "columns";
@import "typography";

$zindex: (
    1: 111,
    2: 122,
    3: 133,
    4: 144,
    5: 155
);

/** text */
$text-color: map-get( $colors, "black" );
$text-size:map-get( $font-size, 'md' );
$letter-spacing: normal;
$line-height: map-get( $line-height, 'md' );
$text-underline-offset: 0.15em;

/** links */
$link-color: map-get( $colors, "hydro-blue" );
$link-hover-color: map-get( $colors, "deep-sea-blue" );
$link-active-color: map-get( $colors, "black" );
$link-knockout-color: map-get( $colors, "white" );
$link-knockout-hover-color: map-get( $colors, "pale-blue" );
$link-knockout-active-color: map-get( $colors, "pale-blue-50" );

/** buttons */
$button-color: map-get( $colors, "white" );
$button-hover-color: map-get( $colors, "white" );
$button-background-color: map-get( $colors, "hydro-blue" );
$button-background-hover-color: map-get( $colors, "deep-sea-blue" );
$button-border-color: map-get( $colors, "hydro-blue" );
$button-border-hover-color: map-get( $colors, "deep-sea-blue" );

/** button outline */
$button-outline-color: map-get( $colors, "hydro-blue" );
$button-outline-hover-color: map-get( $colors, "deep-sea-blue" );
$button-outline-background-color: map-get( $colors, "white" );
$button-outline-background-hover-color: map-get( $colors, "pale-blue" );

/** border colors, radius for buttons, input, etc... */
$border-color: map-get( $colors, "pale-blue" );
$border-color-gray: map-get( $colors, "medium-grey" );
$border-radius: #{ map-get( $spacing, 'md' ) - map-get( $spacing, 'xs' ) };

/** grid */
$grid-column-gap:map-get( $gutters, "sm" );
$grid-row-gap:map-get( $gutters, "lg" );

/** footer */
$footer-text-color: map-get( $colors, "white" );
$footer-background-color: map-get( $colors, "deep-sea-blue" );
$footer-link-color: map-get( $colors, "white" );
$footer-link-hover-color: map-get( $colors, "sky-blue" );
$footer-link-active-color: map-get( $colors, "sky-blue" );

/** banner */
$banner-background-color: map-get( $colors, "hydro-blue" );
