$min-width: 280px;
$max-width: 1440px;
$max-widths: ();
$max-widths: map-merge(
    (
        "xs": $min-width,
        "sm": 540px,
        "md": 720px,
        "lg": 960px,
        "xl": 1140px,
        "xxl": 1320px,
        "xxxl": $max-width,
    ),
    $max-widths
);