---
title: "Your account"
layout: example
---

<div class="mht-banner mht-banner-landing">
    <div class="mht-banner-content">
        <div class="mht-banner-grid">
            <div class="mht-banner-left">
                <div class="mht-banner-text">
                    <nav id="breadcrumbs" aria-label="Breadcrumb" class="breadcrumb">
                        <ol>
                            <li class="home"><a href="#">Home</a></li>
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Meters</a></li>
                            <li><a href="#">How to read metres</a></li>
                            <li class="current-page">How to read your electricity meter</li>
                        </ol>
                    </nav>
                    <h1>​​​​​Billing &amp; payment</h1>
                    <p>Learn how to read your bill, subscribe to convenient payment plans, get help paying your bill and protect yourself against frauds and scams.  </p>
                </div>
            </div>
            <div class="mht-banner-right">
                <div class="mht-banner-image">
                    <img src="/mht/templates/landing-page-template/banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content-area">
<div class="mht-background-pale-blue">
    <div class="mht-container">
        <div class="mht-gutter-top-gap">
            <h2>Self-service</h2>
        </div>
        <div class="mht-group-grid mht-gutter-top-sm">
            <div class="mht-group-item">
                <a href="#" class="mht-card mht-card-btn mht-card-btn-cta">
                    <div class="mht-card-head">
                        <span class="financial-assistance h3">Get your bill online</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="mht-gutter-top-sm">
            <h2>In this section</h2>
        </div>
        <div class="mht-group-grid mht-row-gap-md mht-gutter-top-sm">
            <div class="mht-group-item">
                <a href="#" class="mht-card mht-card-btn">
                    <div class="mht-card-head">
                        <h3>How to read your bill</h3>
                    </div>
                    <div class="mht-card-body">
                        <p>Understand all the items and areas on your online or paper bill, including the breakdown of your electricity and gas charges, your consumption history and more.</p>
                    </div>
                </a>
            </div>
            <div class="mht-group-item">
                <a href="#" class="mht-card mht-card-btn">
                    <div class="mht-card-head">
                        <h3>Reasons for a high bill</h3>
                    </div>
                    <div class="mht-card-body">
                        <p>Learn why your bill could be higher than expected and what changes you can make to reduce your energy usage. </p>
                    </div>
                </a>
            </div>
            <div class="mht-group-item">
                <a href="#" class="mht-card mht-card-btn">
                    <div class="mht-card-head">
                        <h3>Ways to pay your bill</h3>
                    </div>
                    <div class="mht-card-body">
                        <p>Learn about our payment plans: never miss a due date with pre-authorized payments. Make the same payment each month with equal payments. Or sign up for both. </p>
                    </div>
                </a>
            </div>
            <div class="mht-group-item">
                <a href="#" class="mht-card mht-card-btn">
                    <div class="mht-card-head">
                        <h3>Frauds &amp; scams</h3>
                    </div>
                    <div class="mht-card-body">
                        <p>Learn how to spot potential frauds and scams and find out how to keep your financial information safe.</p>
                    </div>
                </a>
            </div>
            <div class="mht-group-item">
                <a href="#" class="mht-card mht-card-btn">
                    <div class="mht-card-head">
                        <h3>Rates &amp; charges</h3>
                    </div>
                    <div class="mht-card-body">
                        <p>Find current and historical energy rates and charges and information on how energy rates are set in Manitoba.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>