---
title: "Your account"
layout: example
---

<div class="mht-banner mht-banner-landing">
    <div class="mht-banner-content">
        <div class="mht-banner-grid">
            <div class="mht-banner-left">
                <div class="mht-banner-text">
                    <nav id="breadcrumbs" aria-label="Breadcrumb" class="breadcrumb">
                        <ol>
                            <li class="home"><a href="#">Home</a></li>
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Meters</a></li>
                            <li><a href="#">How to read metres</a></li>
                            <li class="current-page">How to read your electricity meter</li>
                        </ol>
                    </nav>
                    <h1>​​​​​Billing &amp; payment</h1>
                    <p>Learn how to read your bill, subscribe to convenient payment plans, get help paying your bill and protect yourself against frauds and scams.  </p>
                </div>
            </div>
            <div class="mht-banner-right">
                <div class="mht-banner-image">
                    <img src="/mht/templates/landing-page-template/banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content-area">
<div class="mht-background-pale-blue">
    <div class="mht-container">
        <div class="mht-gutter-top-gap">
            <h2>Self-service</h2>
        </div>
        <div class="mht-group-grid mht-gutter-top-z">
            <div class="mht-group-item">
                <a href="#" class="mht-lead-btn financial-assistance">Get your bill online</a>
            </div>
        </div>
    </div>
</div>
</div>