.#{$prefix}banner {

    --#{$prefix}gutter-x: #{ map-get( $gutters, "sm" ) };

	@media screen and ( min-width: map-get( $breakpoints, "lg" ) ) { --#{$prefix}gutter-x: #{ map-get( $gutters, "md" ) }; }
	@media screen and ( min-width: map-get( $breakpoints, "xl" ) ) { --#{$prefix}gutter-x: #{ map-get( $gutters, "lg" ) }; }

    background-color:var( --#{$prefix}hydro-blue );

    /** base banner */
    &:not( .#{$prefix}banner-home, .#{$prefix}banner-directional ) { 
        
        padding:#{ map-get( $spacing, 'lg' ) - map-get( $spacing, 'sm' ) } 0;

        .#{$prefix}banner-content { 
            
            @include content-width();

            #breadcrumbs { padding-bottom:map-get( $spacing, 'sm' ); }

            h1, h2, h3 { margin-top:map-get( $spacing, 'md' ); }
        
        }
    
    }

    .#{$prefix}banner-content {

        * { &:not( .#{$prefix}btn ) { color:var( --#{$prefix}white ); } }
        a:not( .#{$prefix}btn ) { @include text-link-white(); }
        img { @include reset-image(); }

        .#{$prefix}btn { margin:map-get( $spacing, 'md' ) 0 0 0; }

    }

    &.#{$prefix}banner-home,
    &.#{$prefix}banner-directional {

        --#{$prefix}banner-abstract: #{ $banner-abstract };
        &:not( .#{$prefix}banner-home ) { --#{$prefix}banner-abstract: #{ $banner-abstract-sm }; }

        .#{$prefix}banner-content {

            @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) {

                @include content-width();

                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap:#{ map-get( $gutters, "lg" ) };

                .#{$prefix}banner-image {

                    position:relative;

                    &::before {

                        position:absolute;
                        width:100%;
                        height:100%;
                        content:" ";
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:0 50%;
                        background-image: var( --#{$prefix}banner-abstract );
                        z-index:map-get( $zindex, 1 );

                    }

                    > img { @include reset-image(); }

                }

            }

            .#{$prefix}banner-text {

                padding:map-get( $gutters, 'lg' ) var( --#{$prefix}gutter-x );

                @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) {

                    padding-left:0;
                    padding-right:map-get( $gutters, 'sm' );
                
                }

            }

        }

    }

}