.#{$prefix}banner {

    --#{$prefix}gutter-x: #{ map-get( $gutters, "sm" ) };

	@media screen and ( min-width: map-get( $breakpoints, "lg" ) ) { --#{$prefix}gutter-x: #{ map-get( $gutters, "md" ) }; }
	@media screen and ( min-width: map-get( $breakpoints, "xl" ) ) { --#{$prefix}gutter-x: #{ map-get( $gutters, "lg" ) }; }

    background-color:var( --#{$prefix}hydro-blue );

    /** base banner */
    &:not( .#{$prefix}banner-home, .#{$prefix}banner-directional, .#{$prefix}banner-landing ) {

        padding:#{ map-get( $spacing, 'lg' ) - map-get( $spacing, 'sm' ) } 0;

        .#{$prefix}banner-content {

            @include content-width();
            #breadcrumbs { padding-bottom:map-get( $spacing, 'sm' ); }
            h1, h2, h3 { margin-top:map-get( $spacing, 'md' ); }

        }

    }
    .#{$prefix}banner-content {

        a:not( .#{$prefix}btn ) { @include text-link-white(); }
        img { @include reset-image(); }

        * { &:not( .#{$prefix}btn ) { color:var( --#{$prefix}white ); } }

        .#{$prefix}btn { margin:map-get( $spacing, 'md' ) 0 0 0; }

    }

    &.#{$prefix}banner-home,
    &.#{$prefix}banner-directional,
    &.#{$prefix}banner-landing {

        --#{$prefix}banner-abstract: #{ $banner-abstract };
        &:not( .#{$prefix}banner-home ) { --#{$prefix}banner-abstract: #{ $banner-abstract-sm }; }

        .#{$prefix}banner-content {

            @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) {

                @include content-width();

                .#{$prefix}banner-grid {

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap:#{ map-get( $gutters, "lg" ) };
                    grid-template-areas: "left right";

                    .#{$prefix}banner-left { grid-area:left; }
                    .#{$prefix}banner-right { grid-area:right; }
                    .#{$prefix}banner-image {

                        position:relative;

                        &::before {

                            position:absolute;
                            width:100%;
                            height:100%;
                            content:" ";
                            background-repeat:no-repeat;
                            background-size:contain;
                            background-position:0 50%;
                            background-image: var( --#{$prefix}banner-abstract );
                            z-index:map-get( $zindex, 1 );

                        }

                    }

                }

            }

            .#{$prefix}banner-text {

                padding:map-get( $gutters, 'lg' ) var( --#{$prefix}gutter-x );

                @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) {

                    padding-left:0;
                    padding-right:map-get( $gutters, 'sm' );
                
                }

            }

        }

    }
    &.#{$prefix}banner-landing {

        .#{$prefix}banner-content {

            @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) {

                .#{$prefix}banner-grid {

                    grid-template-columns: 1fr 1fr 1fr;

                    .#{$prefix}banner-left {

                        grid-column-start:1;
                        grid-column-end:span 2;

                    }

                    .#{$prefix}banner-right {

                        grid-column-start:3;
                        grid-column-end:span 1;

                    }

                }

            }

            .#{$prefix}banner-text {

                #breadcrumbs { padding-bottom:map-get( $spacing, 'sm' ); }
                h1, h2, h3 { margin-top:map-get( $spacing, 'md' ); }

                padding:#{ map-get( $spacing, 'lg' ) - map-get( $spacing, 'sm' ) } var( --#{$prefix}gutter-x );

                @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) {

                    padding-left:0;
                    padding-right:map-get( $gutters, 'sm' );
                
                }

            }

        }

    }

}