.mht {

    /** breadcrumb in page */
    #breadcrumbs {

        > ol {

            @include reset-element();

            > li {

                @include reset-element( $d: inline-block );

                font-size:map-get( $font-size, 'xs' );

                &.current-page { font-weight:map-get( $font-weight, 'demi' ); }
                &:not( :first-child ) {

                    display:inline-block;

                    &::before { 
                        
                        content:"\\";
                        padding:0 map-get( $spacing, 'sm' ) 0 map-get( $spacing, 'xs' );
                    
                    }

                }

                a {

                    color:var( --#{$prefix}black );
                    text-decoration:none;

                    @include on-event {

                        color:var( --#{$prefix}link-hover-color );
                        text-decoration:underline;
    
                    }

                }

            }

        }

    }

    /** breadcrumb in banner */
    .#{$prefix}banner {

        #breadcrumbs {

            > ol {
    
                > li {
    
                    a { @include text-link-white(); }

                }

            }

        }

    }

}