.mht {

    /** breadcrumb in page */
    #breadcrumbs {

        background-color:transparent !important;

        > ol {

            @include reset-element();

            font-size:map-get( $font-size, 'md' );

            > li {

                @include reset-element( $d: inline-block );

                font-size:map-get( $font-size, 'sm' );

                &::after {
                    content:'';
                    display:none;
                }
                &.current-page { font-weight:map-get( $font-weight, 'demi' ); }
                &.home {

                    a {

                        background: none;
                        height:auto;
                        overflow:visible;
                        text-indent:0;
                        vertical-align:top;
                        white-space:nowrap;
                        width:auto;

                    }
                    
                }
                &:not( :first-child ) {

                    display:inline-block;

                    &::before { 
                        
                        content:"\\";
                        padding:0 map-get( $spacing, 'sm' ) 0 map-get( $spacing, 'xs' );
                    
                    }

                }

                a {

                    margin:0;
                    padding:0;
                    color:var( --#{$prefix}black );
                    text-decoration:none;
                    display:inline-block;

                    @include on-event {

                        color:var( --#{$prefix}link-hover-color );
                        text-decoration:underline;
    
                    }

                }

            }

        }

    }

    /** breadcrumb in banner */
    .#{$prefix}banner {

        #breadcrumbs {

            > ol {
    
                > li {
    
                    a { @include text-link-white(); }

                }

            }

        }

    }

}