.#{$prefix}btn {

    --#{$prefix}btn-background-color: var( --#{$prefix}button-background-color );
    --#{$prefix}btn-color: var( --#{$prefix}button-color );
    --#{$prefix}btn-border-color: var( --#{$prefix}button-border-color );
    --#{$prefix}btn-background-hover-color: var( --#{$prefix}button-background-hover-color );
    --#{$prefix}btn-hover-color: var( --#{$prefix}button-hover-color );
    --#{$prefix}btn-border-hover-color: var( --#{$prefix}button-border-hover-color );
    --#{$prefix}btn-font-size: #{ map-get( $font-size, 'sm' ) };
    --#{$prefix}btn-font-weight: #{ map-get( $font-weight, 'semi' ) };
    --#{$prefix}btn-padding: #{ map-get( $spacing, 'sm' ) map-get( $spacing, 'md' ) };

    &.white {

        --#{$prefix}btn-background-color: var( --#{$prefix}white );
        --#{$prefix}btn-color: var( --#{$prefix}link-color );
        --#{$prefix}btn-hover-color: var( --#{$prefix}white );
        --#{$prefix}btn-border-color: var( --#{$prefix}white );
        --#{$prefix}btn-border-hover-color: var( --#{$prefix}white );

    }

    &.outline {

        --#{$prefix}btn-background-color: var( --#{$prefix}button-outline-background-color );
        --#{$prefix}btn-color: var( --#{$prefix}button-outline-color );
        --#{$prefix}btn-background-hover-color: var( --#{$prefix}button-outline-background-hover-color );
        --#{$prefix}btn-hover-color: var( --#{$prefix}button-outline-hover-color );

    }

    @include reset-default-btn();

    font-size:var( --#{$prefix}btn-font-size );
    font-weight:var( --#{$prefix}btn-font-weight );
    background:var( --#{$prefix}btn-background-color );
    color:var( --#{$prefix}btn-color );
    padding:var( --#{$prefix}btn-padding );
    border:2px solid var( --#{$prefix}btn-border-color );
    border-radius: var( --#{$prefix}border-radius );
    display:inline-block;
    text-decoration:none !important;

    &:link, &:visited { color:var( --#{$prefix}btn-color ); }

    @include x-transition( all );
    @include on-event {

        color:var( --#{$prefix}btn-hover-color );
        background:var( --#{$prefix}btn-background-hover-color );
        border-color:var( --#{$prefix}btn-border-hover-color );

    }

    &.login {

        vertical-align:top;

        &::before {

            content:" ";
            background-image:#{ map-get( $svgs, "lock" ) };
            background-repeat:no-repeat;
            background-position:0 2px;
            background-size:9px 14px;
            margin:0 6px 0 0;
            display:inline-block;
            width:11px;
            height:14px;

        }

    }

    &.block {

        width:100%;
        display:block;
        text-align:center;

    }

}

/** button cta style */
.#{$prefix}cta-btn {

    position:relative;
    padding-top:#{ map-get( $gutters, 'sm' ) };
    padding-right:#{ map-get( $gutters, 'lg' ) };
    padding-bottom:#{ map-get( $gutters, 'sm' ) - map-get( $spacing, 'xs' ) };
    padding-left:#{ map-get( $gutters, 'sm' ) };;

    @include header-icons( $self: true, $pt: #{ map-get( $spacing, 'md' ) }, $pl: #{ map-get( $spacing, 'xl' ) + map-get( $spacing, 'sm' ) }, $bx: #{ map-get( $spacing, 'md' ) }, $by: 50%, $mh: 0 );

    font-size:map-get( $font-size, 'h3' );
    font-weight:map-get( $font-weight, 'bold' );
    background-color:var( --#{$prefix}white );
    border-radius: var( --#{$prefix}border-radius );
    color:var( --#{$prefix}link-color );
    text-decoration:none;
    border:2px solid var( --#{$prefix}white );
    display:inline-block;

    &::after {

        position:absolute;
        top:0;
        right:map-get( $spacing, 'md' );
        content:" ";
        width:16px;
        height:100%;
        background-image:map-get( $svgs, 'chevron-btn-blue' );
        background-position:0 50%;
        background-repeat:no-repeat;

    }

    @include x-transition( all );
    @include on-event { 
        
        border-color:$card-link-hover-border;
        color:var( --#{$prefix}link-hover-color );

        @include dropshadow();
        
    }

    &.block {

        width:100%;
        display:block;

    }

}