.#{$prefix}callouts,
.#{$prefix}callout-cta {

    .#{$prefix}callout-content {

        grid-area: content;
        padding:map-get( $gutters, 'md' ) 0 0 0;

        @media screen and ( min-width: map-get( $breakpoints, "md" ) ) { padding:#{ map-get( $spacing, 'md' ) + map-get( $spacing, 'sm' ) } map-get( $spacing, 'lg' ) 0 0; }

    }
    .#{$prefix}callout-image {

        grid-area: image;
    
        img { @include reset-image(); }
    
    }

}
/** callouts style homepage/stacked */
.#{$prefix}callouts {

    @include content-width();

    .#{$prefix}callout-item {

        padding:#{ map-get( $gutters, 'lg' ) - map-get( $gutters, 'xs' ) } 0;

        @media screen and ( min-width: map-get( $breakpoints, "md" ) ) {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:"content content image";
            column-gap:#{ map-get( $gutters, "sm" ) };
            padding:map-get( $gutters, 'lg' ) 0;

        }

        &:not( :last-child ) { border-bottom:1px solid var( --#{$prefix}sky-blue ); }

        .#{$prefix}callout-content { h1, h2, h3 { margin:0 0 #{ map-get( $spacing, 'lg' ) - 2px } 0; } }
        .#{$prefix}callout-image {

            position:relative;
            align-self:start;

            &::before {

                position:absolute;
                width:100%;
                height:21px;
                bottom:0;
                content:" ";
                background-size:33px 21px;
                background-position:50% 0;
                background-image:map-get( $triangles, 'up' );
                background-repeat:no-repeat;
                z-index:map-get( $zindex, 1 );

                @media screen and ( min-width: map-get( $breakpoints, "md" ) ) {

                    width:22px;
                    height:100%;
                    left:-2px;
                    background-size:22px 33px;
                    background-position:0 50%;
                    background-image:map-get( $triangles, 'left' );

                }
        
            }
        
        }

    }

}

/** callout cta style */
.#{$prefix}callout-cta {

    background-color:var( --#{$prefix}hydro-blue );

    .#{$prefix}callout-container {

        @include content-width( $gutter: false );

        @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) {

            display: grid;
            grid-template-areas:"content image";
            grid-template-columns: 1fr 1fr;
            column-gap:#{ map-get( $gutters, "sm" ) };

        }

        .#{$prefix}callout-content { 
            
            @include content-width();
            @include banner-text-style();

            padding-top:map-get( $gutters, 'md' );
            padding-bottom:0;

            @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) { padding-top:map-get( $gutters, 'lg' ); }

            h1, h2, h3 { margin:0 0 #{ map-get( $spacing, 'md' ) } 0; }
        
        }
        .#{$prefix}callout-image {

            @include content-width();

            padding-top:map-get( $gutters, 'md' );
            padding-bottom:map-get( $gutters, 'md' );

            @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) { padding-top:map-get( $gutters, 'lg' ); }
            @media screen and ( min-width: map-get( $breakpoints, "xl" ) ) { padding:0; }

            img { @include reset-image(); }

        }

    }

}