.#{$prefix}search {

    .#{$prefix}search-container {

        .#{$prefix}search-group {

            display:flex;
            flex-wrap:nowrap;

            > input[type="search"] {

                flex-grow:1;
                background-color:var( --mht-white );
                padding:map-get( $spacing, 'xs' ) map-get( $spacing, 'xs' ) map-get( $spacing, 'xs' ) map-get( $spacing, 'md' );
                border-radius:map-get( $spacing, 'md' ) 0 0 map-get( $spacing, 'md' );
                border:1px solid var( --mht-black-50 );
                border-right:0;

            }

            button#button-search {

                flex-shrink:0;
                border-radius:0 map-get( $spacing, 'md' ) map-get( $spacing, 'md' ) 0;
                background:var( --mht-white );
                border:1px solid var( --mht-black-50 );
                border-left:0;
                cursor: pointer;

                > img {

                    display:block;
                    margin:0;
                    padding:map-get( $spacing, 'xs' ) map-get( $spacing, 'sm' ) map-get( $spacing, 'xs' ) map-get( $spacing, 'xs' );

                }

            }

        }

    }

}