.mht {

    .#{$prefix}site-footer {

        background-color: var( --#{$prefix}footer-background-color );
        padding:map-get( $spacing, 'md' ) 0;

        * { color:var( --#{$prefix}footer-text-color ); }
        a {
            color: var( --#{$prefix}footer-link-color );
            @include x-transition( color );
            @include on-event { color: var( --#{$prefix}footer-link-hover-color ); }
        }
        p { line-height:map-get( $line-height, 'lg' ); }

        .#{$prefix}site-footer-container {

            @include content-width();

            .#{$prefix}site-footer-banner {

                padding:map-get( $spacing, 'md' ) 0;
                display:flex;
                flex-direction:column;
                gap:map-get( $spacing, 'lg' );

                @media ( min-width: map-get( $breakpoints, "md" ) ){

                    flex-direction:row;
                    justify-content:space-between;
                    align-items:center;

                }

                .#{$prefix}social-media-links {

                    > ul {
            
                        @include reset-element( $d:flex );
            
                        gap:map-get( $spacing, 'md' );
            
                        > li {
            
                            @include reset-element();
            
                            > a {
            
                                display:block;
                                overflow:hidden;
                                width:36px;
                                height:36px;
                                background-repeat:no-repeat;
                                background-position:0 0;
                                background-color:var( --#{$prefix}footer-link-color );
                                border-radius:50%;

                                color:transparent !important;
                                text-decoration:none !important;
            
                                @include x-transition( background-color );
                                @include on-event { background-color:var( --#{$prefix}footer-link-hover-color ); }
            
                                @each $key, $value in $social { &.#{$key} { background-image:#{$value} }; }
            
                            }
            
                        }
            
                    }
            
                }

            }
            
            /** navigation links */
            .#{$prefix}footer-navigation {

                padding:map-get( $spacing, 'md' ) 0;

                @media ( min-width: map-get( $breakpoints, "md" ) ){

                    display:flex;
                    gap:map-get( $spacing, 'xl' );

                }

                .#{$prefix}footer-column {

                    > ul {

                        @include reset-element();

                        > li {

                            @include reset-element();

                            > a {

                                display:block;
                                padding:map-get( $spacing, 'sm' ) 0;
                                text-decoration:none;
                                text-transform:uppercase;
                                
                                @include on-event { text-decoration:underline; }

                            }

                        }

                    }

                }

            }

            .#{$prefix}subfooter {

                padding:map-get( $spacing, 'md' ) 0;

                .#{$prefix}acknowledgement { max-width:map-get( $max-widths, 'lg' ); }
                .#{$prefix}subfooter-container {

                    @media ( min-width: map-get( $breakpoints, "md" ) ){

                        display:flex;
                        justify-content:space-between;

                    }

                    ul.subfooter-links {

                        @include reset-element();

                        padding:map-get( $spacing, 'md' ) 0;

                        li {

                            @include reset-element( $d:inline-block );

                            &:not( :first-child ) {

                                &::before { 
                                    
                                    content:"|";
                                    display:inline-block;
                                    padding:0 map-get( $spacing, 'md' ) 0 #{ map-get( $spacing, 'md' ) - 2px };
                                
                                }

                            }

                            a {

                                display:inline-block;
                                font-size:map-get( $font-size, 'sm' );

                            }

                        }

                    }

                }

            }

        }

    }

}
