.#{$prefix}group-grid {

    --#{$prefix}column-gap:#{ $grid-column-gap };
    --#{$prefix}row-gap:#{ $grid-row-gap };
    --#{$prefix}gutter-y:#{ map-get( $gutters, 'md' ) };

    /** grid equal gap style */
    &.#{$prefix}grid-article { --#{$prefix}column-gap:#{ $grid-column-gap * .5 }; }
    &.#{$prefix}grid-equal-gap {

        --#{$prefix}column-gap:#{ $grid-column-gap };
        --#{$prefix}row-gap:#{ $grid-column-gap };
        --#{$prefix}gutter-y:#{ ( $grid-column-gap / 2 ) };

        padding:var( --#{$prefix}gutter-y ) 0 #{ $grid-row-gap - ( $grid-column-gap / 2 ) } 0;

        @media screen and ( min-width: map-get( $breakpoints, "md" ) ) { padding:0 0 #{ $grid-row-gap } 0; }

    }

    @each $key, $value in $gutters {

        &.#{$prefix}column-gap-#{$key} { --#{$prefix}column-gap: #{ map-get( $gutters, #{$key} ) }; }
        &.#{$prefix}row-gap-#{$key} { --#{$prefix}row-gap: #{ map-get( $gutters, #{$key} ) }; }

    }

    @media screen and ( min-width: map-get( $breakpoints, "md" ) ) {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr;
        column-gap:var( --#{$prefix}column-gap );
        row-gap:var( --#{$prefix}row-gap );
        padding:map-get( $gutters, 'lg' ) 0;

    }

    .#{$prefix}group-item {

        padding:var( --#{$prefix}gutter-y ) 0;

        @media screen and ( min-width: map-get( $breakpoints, "md" ) ) { padding:0; }

    }

    /** grid article style */
    &.#{$prefix}grid-article {

        @media screen and ( max-width: #{ map-get( $breakpoints, "md" ) - 1px } ) { padding:map-get( $gutters, 'md' ) 0; }

        .#{$prefix}group-item { 
            
            padding:map-get( $gutters, 'xs' ) 0;

            @media screen and ( min-width: map-get( $breakpoints, "md" ) ) { padding:0; }
        
        }

    }
    /** grid bordered style */
    &.#{$prefix}grid-bordered {

        .#{$prefix}group-item {

            @media screen and ( max-width: #{ map-get( $breakpoints, "md" ) - 1px } ) { &:not( :last-child ) { border-bottom:1px solid var( --#{$prefix}sky-blue ); } }
            @media screen and ( min-width: map-get( $breakpoints, "md" ) ) {

                border-bottom:0;
                border-right:1px solid var( --#{$prefix}sky-blue );
                margin-right:#{ map-get( $gutters, 'xs' ) - 1px };
                padding-right: map-get( $gutters, 'sm' );

                &:nth-child(3),
                &:last-child { border-color:transparent; }

            }

        }

    }

}