.#{$prefix}header {

    display:flex;
    justify-content:flex-end;
    flex-wrap:wrap;
    background-color: var( --#{$prefix}white );

    @media ( min-width: map-get( $breakpoints, "lg" ) ){ 
        
        @include content-width();

        padding-top:map-get( $spacing, 'md' );
    
    }

    .#{$prefix}logo { /** logo flex expands to fill open space on desktop */

        flex-shrink:1;
        flex-grow:1;
        align-self:center;

        > a { 
            
            display:inline-block;
            padding:map-get( $spacing, "sm" ) map-get( $gutters, "sm" );

            @media ( min-width: map-get( $breakpoints, "lg" ) ){ padding:0; }
        
        }

    }

    .#{$prefix}menu-group {

        padding:map-get( $spacing, 'md' ) 0;
        @media ( min-width: map-get( $breakpoints, "lg" ) ){ padding:0; }

        .#{$prefix}item {

            padding:map-get( $spacing, 'sm' ) map-get( $gutters, "sm" );
            @media ( min-width: map-get( $breakpoints, "lg" ) ){ padding:0 map-get( $spacing, 'sm' ); }
        
        }

        &.#{$prefix}links {

            @media ( min-width: map-get( $breakpoints, "lg" ) ){

                &:not( .#{$prefix}nav-mobile ) {

                    display:flex;
                    align-items:center;
                    align-self:center;

                }
            
            }

            .#{$prefix}item {

                a {

                    text-decoration:none;

                    @include on-event { text-decoration:underline; }

                }

                ul.#{$prefix}links-list {

                    @include reset-element();
                    @media ( max-width: map-get( $breakpoints, "lg" ) ){ padding:map-get( $spacing, 'md' ) 0; }

                    > li { 
                        
                        @include reset-element();
                        @media ( min-width: map-get( $breakpoints, "lg" ) ){ display:inline-block; }

                        > a {

                            @include text-link();

                            display:block;
                            font-size:map-get( $font-size, 'sm' );
                            padding:map-get( $spacing, 'sm' ) map-get( $spacing, 'md' );

                            @media ( min-width: map-get( $breakpoints, "lg" ) ){ padding:0 map-get( $spacing, 'sm' ); }

                        }
                    
                    }
                
                }

            }

        }
        /** buttons/toggle */
        &.#{$prefix}buttons {

            display:flex;
            align-items:center;
            align-self:center;

            .#{$prefix}item {

                button {

                    @include reset-default-btn();
                    
                    font-family:$font-family;
                    margin:0;
                    padding:0;
                    border:0;
                    display:block;
                    background:none;

                }
                
                &.#{$prefix}toggle {

                    @media ( min-width: map-get( $breakpoints, "lg" ) ){ display:none; }

                    button#toggler {

                        padding:0 map-get( $spacing, 'xs' );
                        background-color:var( --#{$prefix}white );
                        cursor:pointer;

                        > span { 
                            
                            text-transform:uppercase;
                            display:flex;
                            align-items:center;
                            text-align:right;
                            font-size:map-get( $font-size, 'sm' );
                            font-weight:map-get( $font-weight, 'demi' );
                            color:var( --#{$prefix}link-color );

                            @include x-transition( all );

                            > span {

                                display:block;

                                &:not( .hamburger ) { margin-right:map-get( $spacing, 'sm' ); }
                                &.close { display:none; }
                                &.hamburger {

                                    width: 18px;
                                    height: 16px;
                                    position: relative;
                                    margin: 0 auto;
                                    cursor: pointer;

                                    -webkit-transform: rotate( 0deg );
                                    -moz-transform: rotate( 0deg );
                                    -o-transform: rotate( 0deg );
                                    transform: rotate( 0deg );

                                    @include x-transition( all );

                                    span {

                                        display: block;
                                        position: absolute;
                                        height: 2px;
                                        width: 100%;
                                        background:var( --#{$prefix}link-color );
                                        opacity: 1;
                                        left: 0;

                                        -webkit-transform: rotate( 0deg );
                                        -moz-transform: rotate( 0deg );
                                        -o-transform: rotate( 0deg );
                                        transform: rotate( 0deg );

                                        @include x-transition( all );

                                    }

                                    span:nth-child(1) { top: 0px; }
                                    span:nth-child(2),
                                    span:nth-child(3) { top: 6px; }
                                    span:nth-child(4) { top: 12px; }

                                }

                            }
                        
                        }

                        &[aria-expanded="true"] {
                            
                            > span { 

                                > span {
                                    
                                    &.open { display:none; }
                                    &.close { display:block; }
                                    &.hamburger {

                                        span:nth-child(1) {
                                            top: 6px;
                                            width: 0%;
                                            left: 50%;
                                        }
                                        span:nth-child(2) {
                                            -webkit-transform: rotate( 45deg );
                                            -moz-transform: rotate( 45deg );
                                            -o-transform: rotate( 45deg );
                                            transform: rotate( 45deg );
                                        }
                                        span:nth-child(3) {
                                            -webkit-transform: rotate( -45deg );
                                            -moz-transform: rotate( -45deg );
                                            -o-transform: rotate( -45deg );
                                            transform: rotate( -45deg );
                                        }
                                        span:nth-child(4) {
                                            top: 6px;
                                            width: 0%;
                                            left: 50%;
                                        }

                                    }
                                
                                }
                            
                            }
                            
                        }

                        &:hover { 
                            
                            > span {
                                
                                color:var( --#{$prefix}link-hover-color );

                                > span.hamburger { span { background:var( --#{$prefix}link-hover-color ); } }
                                
                            }
                        
                        }
                        
                    }
        
                }

            }

        }

    }

    /** search field */
    .#{$prefix}search {

        padding:map-get( $spacing, 'md' );

        @media ( min-width: map-get( $breakpoints, "lg" ) ){ 

            align-self:center;
            padding:0 map-get( $spacing, 'md' );

            .#{$prefix}search-container { max-width:map-get( $max-widths, 'xs' ); }

        }

    }

    /** navigation items that get toggled on small screens */
    @media ( min-width: map-get( $breakpoints, "lg" ) ){ .#{$prefix}nav-mobile { display:none; } }
    @media ( max-width: map-get( $breakpoints, "lg" ) ){

        .#{$prefix}nav-desktop { display:none; }
        .#{$prefix}nav-toggle {

            display:none;
            opacity:0;
            @include x-transition( all );

            &.#{$prefix}nav-open { display:block; }
            &.#{$prefix}nav-fade { opacity:1; }

        }

    }

}