.mht {

    main {

        margin:0;
        padding:0;

    }

    .content-container {

        @include content-width();

        padding-top:map-get( $gutters, 'lg' );
        padding-bottom:map-get( $gutters, 'md' );

        @media screen and ( min-width: map-get( $breakpoints, "md" ) ) {

            --#{$prefix}column-gap: #{ map-get( $gutters, "sm" ) };

            display:grid;
            grid-template-areas: "sidebar main";
            grid-template-columns: map-get( $columns, "left" ) 1fr;
            grid-template-rows: auto 1fr;
            column-gap:var( --#{$prefix}column-gap );

            @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) { --#{$prefix}column-gap: #{ map-get( $gutters, "md" ) }; }

        }

        #main-content { grid-area: main; }
        #sidebar { grid-area: sidebar; }

    }

}