/** left/page navigation */
.mht {

    #sidebar {

        padding:0;

        > nav {

            margin:map-get( $gutters, 'md' ) 0 0 0;
            padding:map-get( $gutters, 'sm' ) 0 map-get( $gutters, 'md' ) 0;
            border-top:1px solid var( --#{$prefix}border-color-gray );

            @media screen and ( min-width: map-get( $breakpoints, "md" ) ) {

                margin:0;
                padding:0 0 map-get( $gutters, 'md' ) 0;
                border:0;

            }

            > span.title { 
                
                text-transform: uppercase;
                font-size: map-get( $font-size, 'xs' );
                font-weight:map-get( $font-weight, 'demi' );
                padding:0 0 map-get( $spacing, 'md' ) 0;
            
            }

            ul,
            ul > li { @include reset-element(); }

            a {

                &,
                &:link,
                &:visited {

                    padding-left:0;
                    display:block;
                    color:var( --#{$prefix}link-color );
                    font-size: map-get( $font-size, 'sm' );
                    font-weight:map-get( $font-weight, 'demi' );
                    text-decoration:none;
                    padding:map-get( $spacing, 'sm' ) 0;
                    line-height: map-get( $line-height, 'md' );

                    @include x-transition( color );
                    @include on-event {

                        color:var( --#{$prefix}link-hover-color );
                        text-decoration:underline;

                    }

                }

            }

            > ul {

                > li {

                    > a {
                        
                        &.active { 
                            
                            font-weight:map-get( $font-weight, 'bold' );
                            color:$link-color !important;
                            &::before {
                                content:'';
                                display:none;
                            }
                        
                        }
                    
                    }

                    ul {

                        padding-left:#{ map-get( $spacing, 'lg' ) - map-get( $spacing, 'sm' ) };

                        li {

                            > a {

                                &.active {

                                    background-repeat:no-repeat;
                                    background-image: map-get( $svgs, 'chevron-black-sm' );
                                    background-position:0 #{ map-get( $spacing, 'md' ) - map-get( $spacing, 'xs' ) };
                                    padding-left:map-get( $spacing, 'md' );
                                    color:var( --#{$prefix}link-active-color );

                                }

                            }

                        }

                    }

                }

            }

        }

    }

    /** subnav page toggle controls */
    a.subnav-toggle {

        margin:0 0 map-get( $spacing, 'lg' ) 0;
        padding:0 #{ map-get( $spacing, 'md' ) + map-get( $spacing, 'sm' ) } 0 0;
        font-size:map-get( $font-size, 'xs' );
        font-weight:map-get( $font-weight, 'demi' );
        text-transform:uppercase;
        text-decoration:none;
        display:block;
        background-repeat:no-repeat;

        @include text-link();

        &.down {

            background-position:100% 1px;
            background-image:map-get( $svgs, "down-arrow" );

        }
        &.up {

            background-position:100% 0;
            background-image:map-get( $svgs, "up-arrow" );

        }

    }

}