---
title: "How to read your electricity Meters"
layout: example
---

<div class="mht-banner">
    <div class="mht-banner-content">
        <nav id="breadcrumbs" aria-label="Breadcrumb" class="breadcrumb">
            <ol>
                <li class="home"><a href="#">Home</a></li>
                <li><a href="#">Your Account</a></li>
                <li><a href="#">Meters</a></li>
                <li><a href="#">How to read metres</a></li>
                <li class="current-page">How to read your electricity meter</li>
            </ol>
        </nav>
        <h1>​​​​​​​​How to read your electricity Meters</h1>
    </div>
</div>
<div class="content-container">
    <main id="main-content">
        <article class="mht-content-area" id="content-area" data-swiftype-index="true">
            <p class="show-mobile text-right">
                <a class="subnav-toggle down" href="#sidebar">More in this section</a>
            </p>
            <h1>How to read your electricity meter</h1>
            <p>Your meter reading will help us provide you an accurate bill. We use meter readings to bill you for the actual amount of electricity you use (instead of estimating). Outside of self-read areas, most Meters are scheduled to be read every second month.</p>
            <p>When we cannot access your meter, a meter reading card will be left for you. Use this card to record your meter reading, then submit it online or to our 24-hour phone recording line.</p>
            <figure class="figurebox full">
                <picture>
                    <img src="/mht/templates/content-page-template/electric-meter.svg" width="450" height="304" alt="Line drawing of an electricity meter." loading="lazy">
                </picture>
            </figure>
            <p>Many electricity Meters have 4 dials. Meters with 5 dials or digital displays are also common.</p>
            <p>The meter number is displayed on your electricity meter. When entering your meter number, do not include the letters MH. The above meter shows MH062189, so this meter number would be <strong>0062189</strong>. </p>
            <p><strong>Dial display:</strong></p>
            <ol>
                <li>Draw the exact position of the dials hands of your electricity meter on the blank dials on the meter reading card.</li>
                <li>From the position of the dial hands, record the meter reading under the dials. (See example reading shown below.)</li>
            </ol>
            <figure class="figurebox full">
                <picture>
                    <img src="/mht/templates/content-page-template/meter-dials-read.svg" alt="Electric meter dials display reading of 8950. The first dial may not be present on your meter." loading="lazy">
                </picture>
            </figure>
            <p><strong>Digital display:</strong></p>
            <ol>
                <li>Your meter will alternate between 2 displays. The first display is a test pattern with a row of the number 8, and the second display is a meter reading. Wait for the electricity meter display to show the letters “kWh” along with the reading.</li>
                <li>Record the meter reading on the lines under the dials on the meter reading card.</li>
            </ol>
            <p>If your meter is blank or does not display a reading, contact us at <a href="tel:2044805900">204-480-5900</a> or toll-free at <a href="tel:18886249376"> 1-888-624-9376</a>.</p>
            <p><a href="https://account.hydro.mb.ca/Portal/ServiceRequestFormPrelogin.aspx?reason=submitMeterReading">Submit your reading online</a> or phone <a href="tel:2044536712">204-453-6712</a> (Winnipeg) or <a href="tel:18006524490">1-800-652-4490</a> anytime and follow the prompts to provide your 7-digit meter number (a leading 0 and the 6-digit number found on the front of your electricity meter) and your meter reading.</p>
            <ul class="links">
                <li><a href="https://www.hydro.mb.ca/accounts_and_services/moving/">Moving — Start your new service or stop your current service (electricity and/or natural gas)</a><span class="sr-only">;</span></li>
                <li><a href="https://www.hydro.mb.ca/accounts_and_services/">Read more about your account</a><span class="sr-only">.</span></li>
            </ul>
        </article>
    </main>
    <div id="sidebar">
        <nav aria-label="Meters">
            <span class="title">Meters</span>
            <ul>
                <li>
                    <a href="https://www.hydro.mb.ca/accounts_and_services/report_meter_read/" class="active" title="Submit a meter reading">Submit a meter reading</a>
                    <ul>
                        <li><a href="https://www.hydro.mb.ca/accounts_and_services/reading_natural_gas_meter/" title="How to read your natural gas meter">How to read your natural gas meter</a></li>
                        <li><a href="https://www.hydro.mb.ca/accounts_and_services/reading_electricity_meter/" class="active current-page" aria-current="page" tabindex="-1" title="How to read your electricity meter">How to read your electricity meter</a></li>
                        <li><a href="https://www.hydro.mb.ca/accounts_and_services/reading_bidirectional_meter/" title="How to read your bi-directional meter">How to read your bi-directional meter</a></li>
                        <li><a href="https://www.hydro.mb.ca/accounts_and_services/meter_exchange/" title="Why we exchange Meters">Why we exchange Meters</a></li>
                        <li><a href="https://www.hydro.mb.ca/accounts_and_services/meter_winter_care/" title="Care for your meter in winter">Care for your meter in winter</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>
