<div class="mht-alert" role="alert">
    <div class="mht-alert-container">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel assumenda dicta sapiente sint. Iusto, cupiditate mollitia delectus magni accusamus facilis modi <a href="#">quisquam aut molestiae quo</a>. Eius doloremque vel cumque assumenda!</p>
        <button class="mht-alert-close" title="close" data-dismiss="alert" aria-label="Close Alert">
            <img src="/mht/images/icons/close.svg" alt="Close Alert">
        </button>
    </div>
</div>