<footer class="mht-site-footer">
    <div class="mht-site-footer-container">
        <div class="mht-site-footer-banner">
            <div class="mht-logo">
                <a href="/" title="home">
                    <img width="225px" height="37px" src="/mht/images/mbhydro-logo-wide-white.png" alt="Manitoba Hydro - Energy for Life">
                </a><!-- /.mht-logo -->
            </div>
            <div class="mht-social-media-links">
                <ul>
                    <li><a class="link-facebook" href="https://www.facebook.com/manitobahydro" title="Find us on Facebook" rel="me">Facebook</a></li>
                    <li><a class="link-twitter" href="https://www.twitter.com/manitobahydro" title="Follow us on X" rel="me">X</a></li>
                    <li><a class="link-youtube" href="https://www.youtube.com/user/ManitobaHydro" title="Watch us on YouTube" rel="me">YouTube</a></li>
                    <li><a class="link-linkedin" href="https://www.linkedin.com/company/manitoba-hydro" title="Connect with us on LinkedIn" rel="me">LinkedIn</a></li>
                    <li><a class="link-instagram" href="https://www.instagram.com/manitobahydro" title="Follow us on Instagram" rel="me">Instagram</a></li>
                    <li><a class="link-threads" href="https://www.threads.net/@manitobahydro" title="Follow us on Threads" rel="me">Threads</a></li>
                </ul>
            </div>
        </div>
        <nav class="mht-footer-navigation" aria-label="Footer">
            <div class="mht-footer-column">
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="mht-footer-column">
                <ul>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Envrionment</a></li>
                </ul>
            </div>
            <div class="mht-footer-column">
                <ul>
                    <li><a href="#">For Landlords</a></li>
                    <li><a href="#">For Business</a></li>
                    <li><a href="#">For Suppliers</a></li>
                </ul>
            </div>
        </nav>
        <div class="mht-subfooter">
            <div class="mht-acknowledgement">
                <p>We acknowledge that we have a presence on the the original territories of the Anishinaabe, Anishininew, Cree, Dakota, and Dene peoples and the homeland of the Red River Métis, and pay our respects to the ancestors of these territories.</p>
                <p><a href="#">Learn about our approach to Indigenous Relations.</a></p>
            </div>
            <div class="mht-subfooter-container">
                <p class="footnote"><small>© Manitoba Hydro. All rights reserved.<br><a href="/accessibility/feedback/">Available in accessible formats upon request.</a></small></p>
                <ul class="subfooter-links">
                    <li><a href="/site_map/" title="Site map">Site map</a></li>
                    <li><a href="/terms_of_use/" title="Terms of use">Terms of use</a></li>
                    <li><a href="/accessibility/" title="Accessibility">Accessibility</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src='/mht/js/mht.js'></script>
