---
title: "Safe, clean, reliable energy. Owned and operated by Manitobans."
layout: example

showAlert: true
---

<div class="mht-banner mht-banner-home">
    <div class="mht-banner-content">
        <div class="mht-banner-item">
            <div class="mht-banner-text">
                <h1>​​​​​​​Safe, clean, reliable energy. Owned and operated by Manitobans.</h1>
                <p>In homes and businesses across this province, you can trust us to warm your nights, brighten your days and fuel your vision. When you need us, we’ll be there. Delivering energy for life – however you live it.</p>
                <p><a href="#" class="mht-btn white">Optional button</a></p>
            </div>
        </div>
        <div class="mht-banner-item">
            <div class="mht-banner-image">
                <img src="/mht/templates/home-page-template/banner.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- cards -->
<div class="mht-container">
    <div class="mht-group-grid mht-grid-bordered mht-cards">
        <div class="mht-group-item">
            <div class="mht-card">
                <h2 class="your-account">Your account</h2>
                <p>Find information about your account, billing and payments.</p>
                <ul class="mht-list-unstyled">
                    <li><a href="#">Reasons for a high bill</a></li>
                    <li><a href="#">How to read your bill</a></li>
                    <li><a href="#">Move your account</a></li>
                </ul>
            </div>
        </div>
        <div class="mht-group-item">
            <div class="mht-card">
                <h2 class="outages">Outages</h2>
                <p>Find information about reporting and preparing for power outages.</p>
                <ul class="mht-list-unstyled">
                    <li><a href="#">View our outage map</a></li>
                    <li><a href="#">Prepare for a power outage</a></li>
                    <li><a href="#">Report a street light outage</a></li>
                </ul>
            </div>
        </div>
        <div class="mht-group-item">
            <div class="mht-card">
                <h2 class="permits-service">Permits &amp; Service</h2>
                <p>Find information about service connections, permits, and inspections.</p>
                <ul class="mht-list-unstyled">
                    <li><a href="#">Apply for a residential do-it-yourself permit</a></li>
                    <li><a href="#">Apply for a tree trimming permit</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- callouts -->
<div class="mht-background-pale-blue">
    <div class="mht-callouts">
        <div class="mht-callout-item">
            <div class="mht-callout-image">
                <img src="/mht/templates/home-page-template/image-1.png" alt="">
            </div>
            <div class="mht-callout-content">
                <h2>Be part of a team that maintains one of the most reliable networks in North America.</h2>
                <p><a href="#" class="mht-btn">Explore our careers</a></p>
            </div>
        </div>
        <div class="mht-callout-item">
            <div class="mht-callout-image">
                <img src="/mht/templates/home-page-template/image-2.png" alt="">
            </div>
            <div class="mht-callout-content">
                <h2>Another corporate initiative lorem ipsum dolor sit amet adipiscing.</h2>
                <p><a href="#" class="mht-btn">Lorem ipsum dolor</a></p>
            </div>
        </div>
    </div>
</div>
<!-- cards -->
<div class="mht-container">
    <div class="mht-group-grid mht-cards">
        <div class="mht-group-item">
            <div class="mht-card">
                <div class="mht-card-image">
                    <img src="/mht/templates/home-page-template/image-3.png" alt="">
                </div>
                <ul class="mht-details">
                    <li>March 6, 2024</li>
                </ul>
                <h3><a href="#">Regular meter readings can help keep your bills affordable</a></h3>
            </div>
        </div>
        <div class="mht-group-item">
            <div class="mht-card">
                <div class="mht-card-image">
                    <img src="/mht/templates/home-page-template/image-4.png" alt="">
                </div>
                <ul class="mht-details">
                    <li><a href="#">Working for You</a></li>
                    <li>January 23, 2024</li>
                </ul>
                <h3><a href="#">Tehya’s drive led to Fleet Services</a></h3>
            </div>
        </div>
        <div class="mht-group-item">
            <div class="mht-card">
                <div class="mht-card-image">
                    <img src="/mht/templates/home-page-template/image-5.png" alt="">
                </div>
                <ul class="mht-details">
                    <li><a href="#">Working for You</a></li>
                    <li>January 23, 2024</li>
                </ul>
                <h3><a href="#">Regular meter readings can help keep your bills affordable</a></h3>
            </div>
        </div>
    </div>
    <div class="mht-gutter-bottom-lg">
        <div class="text-center">
            <p><a href="#" class="mht-btn">More articles</a></p>
        </div>
    </div>
</div>

