@import "root";

*,
*:after,
*:before { box-sizing: inherit; }
html { 
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    accent-color: var( --#{$prefix}hydro-blue );
    background: var( --#{$prefix}white );
    color: $text-color;
    font-family: $font-family;
    font-size: 100%;
    font-size: $text-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
    margin: 0;
    min-width: $min-width;
    padding: 0;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-underline-offset: $text-underline-offset;
    @supports ( text-underline-position: from-font ) {
        text-underline-offset: $text-underline-offset;
        text-underline-position: from-font;
    }
}