/**
* Hide element while making it readable for screen readers
* Shamelessly borrowed from HTML5Boilerplate:
* https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
*/
.mht {

    .sr-only,
    .visually-hidden,
    .screen-reader-text {
        border: 0;
        clip: rect( 0 0 0 0 );
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    @media screen and ( max-width: ( map-get( $breakpoints, "sm" ) - 1px ) ) {
        .hide-phone-only {
            display: none !important;
        }
    }
    @media screen and ( max-width: ( map-get( $breakpoints, "lg" ) - 1px ) ) {
        .hide-mobile-tablet {
            display: none !important;
        }
    }
    @media screen and ( min-width: map-get( $breakpoints, "sm" ) ) {
        .show-phone-only {
            display: none !important;
        }
    }
    @media screen and ( min-width: map-get( $breakpoints, "md" ) ) {
        .show-mobile {
            display: none !important;
        }
    }
    @media screen and ( min-width: map-get( $breakpoints, "lg" ) ) {
        .show-mobile-tablet {
            display: none !important;
        }
    }

    .text-center { text-align: center !important; }
    .text-left { text-align: left !important; }
    .text-right { text-align: right !important; }

}