---
title: "Your account"
layout: example
---

<div class="mht-banner mht-banner-directional">
    <div class="mht-banner-content">
        <div class="mht-banner-grid">
            <div class="mht-banner-left">
                <div class="mht-banner-text">
                    <h1>​​​​​​Your account</h1>
                </div>
            </div>
            <div class="mht-banner-right">
                <div class="mht-banner-image">
                    <img src="/mht/templates/directional-page-template/banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content-area">
<!-- cards -->
<div class="mht-container">
    <div class="mht-group-grid mht-grid-bordered mht-cards">
        <div class="mht-group-item">
            <div class="mht-card">
                <div class="mht-card-head">
                    <a href="#" class="new-customer h3">New customer</a>
                </div>
                <div class="mht-card-body">
                    <p>Welcome! Find out how to open an account for the first time.</p>
                </div>
            </div>
        </div>
        <div class="mht-group-item">
            <div class="mht-card">
                <div class="mht-card-head">
                    <a href="#" class="account-updates h3">Account updates</a>
                </div>
                <div class="mht-card-body">
                    <p>Close your account or transfer it to another property if you’re moving. We’ll show you how.</p>
                    <ul class="mht-link-list">
                        <li><a href="#">Move your account</a></li>
                        <li><a href="#">Set up meter reading reminders</a></li>
                        <li><a href="#">Online account</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mht-group-item">
            <div class="mht-card">
                <div class="mht-card-head">
                    <a href="#" class="billing-payments h3">Billing &amp; payments</a>
                </div>
                <div class="mht-card-body">
                    <p>Learn about your bill and easy ways to pay it, including pre-authorized payments and a plan to make equal payments spread out evenly in monthly instalments.</p>
                    <ul class="mht-link-list">
                        <li><a href="#">How to read your bill</a></li>
                        <li><a href="#">Reasons for a high bill</a></li>
                        <li><a href="#">Ways to pay your bill</a></li>
                        <li><a href="#">Frauds &amp; scams</a></li>
                        <li><a href="#">Rates &amp; charges</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mht-group-item">
            <div class="mht-card">
                <div class="mht-card-head">
                    <a href="#" class="financial-assistance h3">Financial assistance</a>
                </div>
                <div class="mht-card-body">
                    <p>Manitoba Hydro has programs to help with bill affordability, as well as loans and financing for home and property upgrades.</p>
                    <ul class="mht-link-list">
                        <li>
                            <a href="#">Learn about loans and financing</a>
                            <ul>
                                <li><a href="#">Neighbours helping neighbours</a></li>
                                <li><a href="#">Manitoba Rent Rlief Fund</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mht-group-item">
            <div class="mht-card">
                <div class="mht-card-head">
                    <a href="#" class="permits-service h3">Meters</a>
                </div>
                <div class="mht-card-body">
                    <p>Learn about the types of meters, how to read them, and why and how to exchange your meter.</p>
                    <ul class="mht-link-list">
                        <li><a href="#">How to read meters</a></li>
                        <li><a href="#">Submit your meter reading</a></li>
                        <li><a href="#">Exchange your meter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>