h1, h2, h3, h4, h5, h6 {

    display:block;
    line-height:map-get( $line-height, 'sm' );
    font-weight:map-get( $font-weight, 'bold' );
    margin:0 0 map-get( $spacing, 'md' ) 0;

}
@for $i from 1 through 6 { h#{$i} { font-size: map-get( $font-size, h#{$i} ); } }

@each $key, $value in $heading-images { 
    
    .#{$key} { 
        
        padding-top:1px;
        padding-left:#{ map-get( $spacing, 'xl' ) - map-get( $spacing, 'sm' ) };
        min-height:#{ map-get( $gutters, 'md' ) + 2px };
        background-image:#{ $value };
        background-repeat:no-repeat;
    
    }

}