.#{$prefix}header {

    margin:0 auto;
    padding:0;
    width:100%;
    max-width:map-get( $max-widths, 'xxl' );
    display:flex;
    justify-content:flex-end;
    flex-wrap:wrap;
    background-color:var( --mht-white );

    @media ( max-width: map-get( $breakpoints, "lg" ) ){
        
        position:fixed;
        @include dropshadow();

    }

    .#{$prefix}logo {

        flex-shrink:1;
        flex-grow:1;
        align-self:center;

        > a { /** logo flex expands to fill open space on desktop */

            padding:map-get( $spacing, 'sm' );
            display:inline-block;

            > img {

                width:130px;
                height:49px;

            }

        }

    }

    .#{$prefix}menu-group {

        .#{$prefix}item { 
            
            @media ( min-width: map-get( $breakpoints, "lg" ) ){ padding:0 map-get( $spacing, 'sm' ); }
        
        }

        &.#{$prefix}links {

            @media ( min-width: map-get( $breakpoints, "lg" ) ){
                
                display:flex;
                align-items:center;
                align-self:center;
            
            }

            .#{$prefix}item {

                a {

                    text-decoration:none;
                    color:var( --mht-black );

                    @include on-event { text-decoration:underline; }

                }

                ul.#{$prefix}menu-list {

                    @include reset-element();

                    > li { 
                        
                        @include reset-element();
                        @media ( min-width: map-get( $breakpoints, "lg" ) ){ display:inline-block; }

                        > a {

                            display:block;
                            padding:0 map-get( $spacing, 'sm' );
                            color:var( --mht-hydro-blue );

                            @include x-transition( all );
                            @include on-event { color: var( --mht-deeo-sea-blue ); }

                        }
                    
                    }
                
                }

            }

        }
        /** buttons/toggle */
        &.#{$prefix}buttons {

            display:flex;
            align-items:center;
            align-self:center;

            @media ( max-width: map-get( $breakpoints, "lg" ) ){ padding-right:#{ map-get( $spacing, 'lg' ) - map-get( $spacing, 'xs' ) }; }

            .#{$prefix}item {

                button {

                    @include reset-default-btn();
                    margin:0;
                    padding:0;
                    border:0;
                    display:block;
                    background:none;

                }
                
                &.#{$prefix}toggle {

                    @media ( min-width: map-get( $breakpoints, "lg" ) ){ display:none; }

                    button#toggler {

                        border-radius:map-get( $spacing, 'sm' );
                        padding:0 map-get( $spacing, 'md' ) 0 0;
                        background-color:var( --mht-pale-blue );
                        cursor:pointer;

                        > span { 
                            
                            padding:#{ map-get( $spacing, 'sm' ) + map-get( $spacing, 'xs' ) } #{ map-get( $spacing, 'lg' ) - map-get( $spacing, 'xs' ) } #{ map-get( $spacing, 'sm' ) + map-get( $spacing, 'xs' ) } map-get( $spacing, 'md' );
                            text-transform:uppercase;
                            display:block;
                            background-image:map-get( $svgs, 'menu' );
                            background-position:100% 50%;
                            background-repeat:no-repeat;
                        
                        }

                        &[aria-expanded="true"] { > span { background-image:map-get( $svgs, 'menu-open' ); } }

                        @include x-transition( all );
                        @include on-event { 
                            
                            background-color:var( --mht-hydro-blue );
                            color:var( --mht-white );

                            &[aria-expanded="false"] { > span { background-image:map-get( $svgs, 'menu-white' ); } }
                        
                        }
                        
                    }
        
                }

            }

        }

    }

    /** search field */
    .#{$prefix}search {

        padding:map-get( $spacing, 'md' );

        @media ( min-width: map-get( $breakpoints, "lg" ) ){ 

            align-self:center;
            padding:0 map-get( $spacing, 'md' );

            .#{$prefix}search-container { max-width:map-get( $max-widths, 'xs' ); }

        }

    }
   
    .#{$prefix}navigation {

        width:100%;
        flex-shrink:0;
        flex-grow:1;;
        border-top:1px solid var( --mht-pale-blue );

        ul.#{$prefix}menu-list {

            @include reset-element();

            border-bottom:1px solid var( --mht-pale-blue );

            @media ( min-width: map-get( $breakpoints, "lg" ) ){
            
                display:flex;
                justify-content:center;
                border:0;
            
            }

            > li.#{$prefix}menu-item {

                @include reset-element();
                position:relative;

                /** top level link, no sub */
                > a,
                > button {

                    @include reset-element();

                    padding:#{ map-get( $spacing, 'md' ) - map-get( $spacing, 'xs' ) } map-get( $spacing, 'md' );
                    text-decoration:none;
                    text-transform:uppercase;
                    font-weight:map-get( $font-weight, 'demi' );
                    color:var( --mht-wave-blue );
                    background-color: var( --mht-white );
                    border-top:1px solid var( --mht-pale-blue );
                    display:block;
                    cursor:pointer;

                    @include x-transition( all );
                    @include on-event { 
                        
                        background-color:var( --mht-pale-blue );
                        color:var( --mht-deeo-sea-blue );
                    
                    }

                    @media ( min-width: map-get( $breakpoints, "lg" ) ){ border:0; }
                    @media ( max-width: map-get( $breakpoints, "lg" ) ){ width:100%; }

                }
                /** sub menu toggle button+ul */
                > button {

                    @include reset-default-btn();

                    position:relative;
                    text-align:left;
                    background:var( --mht-white );

                    /** border bottom style for desktop */
                    @media ( min-width: map-get( $breakpoints, "lg" ) ){

                        margin-bottom:map-get( $spacing, 'sm' );

                        &::after {

                            position:absolute;
                            margin-top:map-get( $spacing, 'sm' );
                            left:0;
                            bottom:#{ 0 - map-get( $spacing, 'sm' ) };
                            display:block;
                            content:" ";
                            height:map-get( $spacing, 'sm' );
                            width:calc( 100% - #{ map-get( $spacing, 'lg' ) } );
                            background-color:transparent;
                            @include x-transition( all );

                        }

                    }

                    > span {

                        display:block;
                        position:relative;
                        padding-right:#{ map-get( $spacing, "md" ) + map-get( $spacing, "xs" ) };

                        &::after {

                            position:absolute;
                            content:map-get( $svgs, "menu-chevron" );
                            width:11px;
                            height:11px;
                            right:0;

                            @include x-transition( all );

                        }

                    }

                    &[aria-expanded="true"] {

                        > span::after {

                            margin-top:5px; 
                            -webkit-transform: rotate( 180deg );
                            -moz-transform:    rotate( 180deg );
                            -o-transform:      rotate( 180deg );
                            transform:         rotate( 180deg );

                        }
                        
                        @media ( min-width: map-get( $breakpoints, "lg" ) ){

                            &::after { background-color:var( --mht-hydro-blue ); }

                        }
                    
                    }

                }
                > ul {

                    @include reset-element( $d:none );
                    @include x-transition( all );
                    padding:map-get( $spacing, 'md' ) 0;
                    width:100%;
                    opacity:0;
                    background-color:var( --mht-pale-blue-50 );
                    border-top:1px solid var( --mht-sky-blue );

                    @media ( min-width: map-get( $breakpoints, "lg" ) ){

                        @include dropshadow();
                        border:0;
                        position:absolute;
                        min-width:map-get( $max-widths, 'xs' );
                        padding:map-get( $spacing, 'md' ) 0;

                    }

                    > li {

                        @include reset-element();

                        > a {

                            display:block;
                            color: var( --mht-deep-sea-blue );
                            text-decoration:none;
                            padding:#{ map-get( $spacing, 'xs' ) + 2px } map-get( $spacing, 'md' );
                            @include x-transition( all );

                            @include on-event {

                                background-color:var( --mht-sky-blue );
                                color:var( --mht-black );

                            }

                            &.active {

                                font-weight:map-get( $font-weight, 'bold' );
                                background-color:var( --mht-sky-blue );
                                color:var( --mht-black );

                            }

                        }

                        &.most-requested {

                            > span {

                                margin:#{ map-get( $spacing, 'md' ) - 2px } map-get( $spacing, 'md' ) 0 map-get( $spacing, 'md' );
                                padding:#{ map-get( $spacing, 'md' ) + 2px } 0 #{ map-get( $spacing, 'xs' ) + 2px } 0;
                                border-top:1px solid var( --mht-sky-blue );
                                color:var( --mht-black-75 );
                                font-size:map-get( $font-size, 'sm' );
                                font-weight:map-get( $font-weight, 'demi' );
                                display:block;

                            }

                        }

                    }
                    
                    &.#{$prefix}menu-open { display:block; }
                    &.#{$prefix}menu-fade { opacity:1; }

                }

            }

        }

    }

    /** navigation items that get toggled on small screens */
    @media ( min-width: map-get( $breakpoints, "lg" ) ){ .#{$prefix}nav-mobile { display:none; } }
    @media ( max-width: map-get( $breakpoints, "lg" ) ){

        .#{$prefix}nav-desktop { display:none; }
        .#{$prefix}nav-toggle {

            display:none;
            opacity:0;
            @include x-transition( all );

            &.#{$prefix}nav-open { display:block; }
            &.#{$prefix}nav-fade { opacity:1; }

        }

    }

}
