/** content area */
.#{$prefix}content-area,
.#{$prefix}card {

    ul, ol {

        &.#{$prefix}list-unstyled,
        &.#{$prefix}link-list { 
            
            @include reset-element();

            li {

                ul, ol {

                    margin:0;
                    padding:0;
                    list-style:none;

                }

            }
        
        }

        &:not( .#{$prefix}list-unstyled, .#{$prefix}link-list ) { padding:0 0 0 #{ map-get( $spacing, 'lg' ) - map-get( $spacing, 'xs' ) }; }

        li {

            line-height:map-get( $line-height, 'md' );
            margin:0 0 map-get( $spacing, 'sm' ) 0;

        }

        &.links { /** legacy */

            @include reset-element();

            padding-left:map-get( $spacing, 'md' );
            margin-bottom:map-get( $spacing, 'md' );

            li {

                @include reset-element();

                margin:map-get( $spacing, 'sm' ) 0;
                padding:0 !important;

                a {

                    background-repeat:no-repeat;
                    background-image: map-get( $svgs, 'chevron-black-sm' );
                    background-position:0 4px;
                    padding-left:map-get( $spacing, 'md' );
                    display:block;
                    text-decoration:underline;

                }

            }

        }

        &.#{$prefix}link-list { 
            
            li {

                ul {

                    list-style:disc;
                    color:var( --#{$prefix}link-color );
                    padding: map-get( $spacing, 'sm' ) 0 0 map-get( $spacing, 'md' );

                }

            }
        
        }

        &.#{$prefix}details {

            @include reset-element();

            margin-bottom:#{ map-get( $spacing, 'sm' ) + map-get( $spacing, 'xs' ) };

            li {

                @include reset-element( $d:inline-block );

                text-transform:uppercase;
                font-weight:map-get( $font-weight, 'demi' );
                margin-bottom:map-get( $spacing, 'xs' );

                &:not( :last-child ) {

                    &::after {

                        content:"|";
                        padding-left:map-get( $spacing, 'sm' );
                        padding-right:map-get( $spacing, 'sm' );

                    }

                }

            }

        }

    }

}