/** content area */
.#{$prefix}content-area,
.#{$prefix}cards {

    ul, ol {

        &.#{$prefix}list-unstyled { @include reset-element(); }

        &:not( .#{$prefix}list-unstyled ) { padding:0 0 0 #{ map-get( $spacing, 'lg' ) - map-get( $spacing, 'xs' ) }; }

        li {

            line-height:map-get( $line-height, 'md' );
            margin:0 0 map-get( $spacing, 'sm' ) 0;

        }

        &.links { /** legacy */

            @include reset-element();

            padding-left:map-get( $spacing, 'md' );
            margin-bottom:map-get( $spacing, 'md' );

            li {

                @include reset-element();

                margin:map-get( $spacing, 'sm' ) 0;

                a {

                    background-repeat:no-repeat;
                    background-image: map-get( $svgs, 'chevron-black-sm' );
                    background-position:0 4px;
                    padding-left:map-get( $spacing, 'md' );
                    display:block;

                }

            }

        }

        &.#{$prefix}details {

            @include reset-element();

            margin-bottom:#{ map-get( $spacing, 'sm' ) + map-get( $spacing, 'xs' ) };

            li {

                @include reset-element( $d:inline-block );

                text-transform:uppercase;
                font-weight:map-get( $font-weight, 'demi' );
                margin-bottom:map-get( $spacing, 'xs' );

                &:not( :last-child ) {

                    &::after {

                        content:"|";
                        padding-left:map-get( $spacing, 'sm' );
                        padding-right:map-get( $spacing, 'sm' );

                    }

                }

            }

        }

    }

}