.mht {

    span { &.title { display:block; } }

    p { 
        
        line-height:map-get( $line-height, 'md' );
        margin:0 0 map-get( $spacing, 'md' ) 0;
    
    }

    small { font-size:map-get( $font-size, 'sm' ); }

}